@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900');

:root {
    --font-color: #0d0d0d;
    --meta-color: #606060;
    --bg-color: #fafafa;
    font-size: 10px !important;
}

[data-theme=dark] {
    --font-color: #fff;
    --meta-color: #aaa;
    --bg-color: #1f1f1f;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color) !important;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Roboto, sans-serif !important;
}

.container {
    height: 100vh;
    min-width: 800px;
}

h1,
h2,
h3 {
    color: var(--font-color);
}

.btn,
.form-control,
.input-group-text {
    font-size: 2rem !important;
}

hr {
    border-color: var(--font-color) !important;
}

.dropArea {
    height: 50vh;
    min-height: 275px;
    width: 100%;
    border: 8px dashed #0d6efd;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center
}

.dropText {
    font-size: 40px;
    font-weight: bold;
}

.dropAreaHighlight {
    border: 16px dashed #0d6efd;
}


.xScrollContainer {
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.yScrollContainer {
    height: 520px;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding-right: 5px;
    padding-left: 15px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(1, 1, 1, 0.75);
}

::-webkit-scrollbar-thumb {
    background: var(--meta-color);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(1, 1, 1, 0.75);
}

/* YouTube Thumbnail Styling */

.groupBelow {
    display: inline-block;
}

.groupBelow .videoDetails {
    clear: both
}

.avatar,
.groupBelow .thumbnailTitle {
    float: left
}

.groupBeside {
    display: inline-block;
    width: 100%
}

.groupBeside .title {
    max-width: 15em
}

.groupBeside .thumbnailImageContainer {
    margin-right: 12px
}

.thumbnailGroup {
    font-size: 10px !important;
}

.thumbnailImageContainer {
    position: relative;
    margin-bottom: 1em;
    display: block;
    float: left;
    border-radius: 12px;
    overflow: hidden
}

.timeOverlay {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 4px;
    color: #fff;
    background-color: rgba(0, 0, 0, .8);
    opacity: 1;
    padding: 2px 4px;
    border-radius: 4px;
    letter-spacing: .5px;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.avatar {
    border-radius: 64px;
    background-color: #ddd;
    clear: left;
    margin-top: 4px;
    width: 36px;
    height: 36px;
    margin-right: 12px;
    background-size: 36px 36px;
}

.title {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 2rem;
    display: block;
    overflow: hidden;
    white-space: normal;
    color: var(--font-color);
}

.videoDetails {
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--meta-color)
}

.videoStats {
    margin-bottom: 16px
}

.clampLines {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
